<a href="https://colab.research.google.com/github/Vemulurijayakanth/data_analysis_with_python/blob/main/DA_DAY1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=5
print("i am ",a,"years old")

i am  5 years old

In [ ]:
a=7
b=25
print(a+b)

32

In [ ]:
print(b**a)
print(b//a)
print(a/b)

6103515625
3
0.28

operators

In [ ]:
#arthmatic
a=5
b=25
print(a+b)

30

relations

In [ ]:
#relations
a=6
b=6
print(a==b)
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)
print(a!=b)

True
False
False
True
True
False

In [ ]:
#logical
a=6
b=20
print((a>b) and (a<=b))#false and true

False

In [ ]:
print((a>b) or (a<b)) #false and true

True

In [ ]:
a="private"
print("a"not in a)
print("a"in a)

False
True

# control flow

In [ ]:
#conditional if
#write a program to get a number from the userand check wheather the given number is positive or negative

a=int(input("enter a number"))
print(type(a))
if (a<0):
  print(" is negative")
else:
  print("given number is positive")

In [ ]:
#zero
a=int(input("enter a number"))
print(type(a))
if (a<0):
  print(a," is negative")
elif(a==0):
  print(a,"is neutral")
else:
  print(a," is positive")

enter a number0
given number is non negative nor positive
<class 'int'>

loooping

In [ ]:
n=int(input("enter a value"))
for i in range(1,11,1):
  a=n*i
  print(a)

enter a value6
6
12
18
24
30
36
42
48
54
60

In [ ]:
a=int(input("enter a value"))
i=1
while(i<=10):
  n=a*i
  i=i+1
  print(n)

enter a value5
5
10
15
20
25
30
35
40
45
50

In [ ]:
n=int(input("enter a number"))
st=int(input("no of steps"))
for i in range(1,st,1):
  print(n,"*",i,"=",n*i)

enter a number4
no of steps20
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48
4 * 13 = 52
4 * 14 = 56
4 * 15 = 60
4 * 16 = 64
4 * 17 = 68
4 * 18 = 72
4 * 19 = 76

In [ ]:
#typecasting:
a=23.8
b=6
print(a*b)#interprecter automattically assign float is called implecte

142.8

In [ ]:
#typecasting:
a=23.8
b=6
print(int(a*b))#interprecter automattically assign float is called implecte

142

In [ ]:
a="python is easy"
print(a[::-1])
print(a[0:6])

ysae si nohtyp
python

In [ ]:
n=int(input("enter a number"))
st=int(input("no of steps"))
i=0
while(i<=st):
  print(n,"*",i,"=",n*i)
  i=i+1

enter a number4
no of steps4
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16

collections:
list:
-list is a collection of elements
-hetrogenious
-mutable(modifiable)

In [ ]:
#creating a list:
a=[3,32,"killer",23,223]
print(a)

[3, 32, 'killer', 23, 223]

In [ ]:
#Display the elements in line by line
for i in a:
  print(i)

3
32
killer
23
223

In [ ]:
#append function
a.append(9.9)
print(a)

[3, 32, 'killer', 23, 223, 9.9]

In [ ]:
#insert function
a.insert(3,"hello")
print(a)

[3, 32, 'killer', 'hello', 23, 223, 9.9]

In [ ]:
#extending the list
l1=[1,2,3,4]
l2=["h","e","l"]
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 'h', 'e', 'l']

In [ ]:
#pop function
l1.pop(2)
print(l1)

[1, 2, 4, 'h', 'e', 'l']

In [ ]:
 #remove function
l1.remove(2)
print(l1)

[1, 4, 'h', 'e', 'l']

In [ ]:
#max function
l3=[12,7,4,13.7]
max(l3)

13.7

list compresion
iterates
applies some functions on ever element
conditions
output lisst

In [ ]:
#squaring the elements in list
l4=[1,2,3,4,5,6,6,77,8,56]
l5=[i**2 for i in l4]
print(l5)

[1, 4, 9, 16, 25, 36, 36, 5929, 64, 3136]

In [ ]:
  #squaring the elements in the list which is greater than 50
l4=[54,7,4,13.7]
l5=[i**2 for i in l4 if i>50]
print(l5)

[2916]

In [ ]:
# the salary of 5 emploiees in the company is taken in the list the tax is 10% if the salary is less than 50000
#create a new list with tax amounts
#[67000,45000,34000,50000]
#list
sal=[67000,45000,34000,50000]
tax=[]
for i in sal:
  if i<=50000:
    t=i*0.1
    tax.append(t)
  else:
    t=i*0.15
    tax.append(t)
print(tax)

[10050.0, 4500.0, 3400.0, 5000.0]

In [ ]:
#list_name=[(body of if ) if (condition) else (body of else) iterate]
sal=[67000,45000,34000,50000]
tax=[i*0.1 if i<=50000 else i*0.15 for i in sal]
print(tax)

[10050.0, 4500.0, 3400.0, 5000.0]